* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1% 7% 0% 7%;
}

.page1{
  /* border: 3px solid brown; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1% 2% 1% 2%; */
}

.headercontainer{
  /* border: 1px solid grey; */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 1%;
}

.logo{
  height: 100%;
  /* border: 1px solid yellow; */
}

.navigation{
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 40%;
  text-align: center;
}

.navigation p{
  padding: 0 2%;
  width: 20%;
  font-weight: 500;
  font-size: 20px;
  cursor: grab;
}

.navigation a:hover{
  color: red
}

.signup2{
  display: none;
}

.signup{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.7%;
  width: 9%;
  border-radius: 5px;
  cursor: grab;
  border: none;
}

.signup:hover{
  background: rgb(78, 74, 74);
}

.designpicture{
  /* border: 1px solid yellow; */
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.designpicture h1{
  margin-bottom: 3%;
  margin-top: 0;
  font-family: Geneva, Verdana, sans-serif;
  padding-top: 0;
  font-weight: 600;
  font-size: 85px;
  letter-spacing: 2px;
}

.designpicture p{
  margin-top: 2%;
  color: grey;
  line-height: 25px;
  width: 65%;
}

.image1{
  height: 100%;
  margin-right: 1%;
}

.buttonpicture{
  /* border: 1px solid blue; */
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.achievements{
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  justify-content: space-between;
  width: 50%;
}

.startprojectbutton{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.7%;
  width: 9%;
  border-radius: 5px;
  cursor: grab;
  width: 200px;
  height: 25%;
  font-weight: 500;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
}

.startprojectbutton:hover{
  background: rgb(78, 74, 74);
}

.indachivement{
  /* border: 1px solid red; */
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  color: rgb(83, 78, 78)
}

.indachivementitem h1{
  margin-bottom: 0;
  font-weight: 500;
  line-height: 10px;
}

.imagecontainer{
  position: relative;
  display: flex;
  margin-right: 1%;
}

.image2{
  z-index: 1;
  position: absolute;
  top: -10%;
  left: -20%;
  height: 50%;
}

.image3{
  height: 100%;
  z-index: 2;
  position: relative;
  right: 15%;
}

.image4{
  z-index: 3;
  position: absolute;
  height: 35%;
  bottom: 0;
  right: 0;
}

.page2{
  /* border: 3px solid green; */
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.OurServices{
  height: 10vh;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.OurServices img{
  height: 5%;
  margin-right: 2%;
}

.OurServices h1{
  font-weight: 500;
  font-size: 40px;
}

.Servicecontainer{
  height: 30vh;
  /* border: 1px solid brown; */
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.indServicecontainer{
  display: flex;
  width: 30%;
  /* justify-content: space-between; */
  /* border: 1px solid green; */
}

.indServicecontainer img{
  height: 40%;
  margin-right: 5%;
}

.indServicecontainer h3{
  font-weight: 600;
  margin-bottom: 15%;
}

.indServicecontainer p{
  font-size: 15px;
  color: grey;
}

.page3{
  display: flex;
  justify-content: space-between;
  height: 70vh;
  /* border: 1px solid green; */
  margin-top: 5%;
}

.page3pic img{
 height: 100%;
 width: 125%;
}

.page3content{
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0;
  margin-left: 15%;
}

.page3content h2{
  margin: 0;
  line-height: 55px;
  font-size: 45px;
  font-weight: 500;
}

.page3contentword{
  color: grey;
  line-height: 22px;
}

.indpagecontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 0;
  /* border: 1px solid brown; */
}

.indpagecontent p{
  font-weight: 900;
}

.indpagecontentsign{
  font-size: 20px;
}

.indpagecontentsign:hover{
  color: rgb(78, 74, 74);
}

.learnmorebutton{
  color: white;
  background-color: black;
  text-align: center;
  padding: 2%;
  width: 9%;
  border-radius: 5px;
  cursor: grab;
  width: 35%;
  font-weight: 500;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
}

.learnmorebutton:hover{
   background: rgb(78, 74, 74);
}

.page4{
  /* border: 3px solid yellow; */
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.designcontent{
  /* border: 1px solid brown; */
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.designcontent h1{
  margin: 0 0 3% 0;
  font-weight: 500;
  font-size: 50px;
  /* background-color: red; */
}

.designcontentcard{
  margin-top: 0;
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indcontentcard{
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.logoandheader{
  display: flex;
  align-items: center;
  font-weight: 900;
}

.logoandheader img{
  margin-right: 5%;
}

.slashandmessage{
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  /* border: 1px solid brown; */
  width: 90%;
}

.slashandmessage img{
  margin: 2% 13% 0 6%;
  height: 70px;
}

.lastslash{
  height: 0;
  width: 0;
}

.page3designpicture{
  /* border: 1px solid grey; */
  height: 100%;
  width: 50%;
}

.page3designpicture img{
  width: 90%;
  margin-left: 10%;
}

.page5{
  /* border: 3px solid grey; */
  height: 85vh;
  display: flex;
  margin-top: 5%;
  /* background-color: brown; */
}

.cutoutimg{
  /* border: 1px dotted blue; */
  width: 50%;
}

.cutoutimg img{
  height: 88%;
  width: 90%;
}

.arrows{
  display: flex;
  height: 10%;
  width: 10%;
  margin-top: 2%;
  /* justify-content: space-between; */
}

.arrow{
  margin-right: 100%;
}

.customerreview{
  /* border: 1px solid yellow; */
  width: 50%;
  position: relative;
}

.customerreview h1{
  margin-top: 0;
  font-size: 50px;
  font-weight: 500;
}

.customerreviewpic{
  /* border: 1px solid green; */
  position: absolute;
  background-color: white ;
  bottom: 0;
  left: -70%;
  padding: 3% 0 0 3%;
  width: 170%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}

.indcustomerreview{
  background-color: rgb(48, 43, 43);
  color: white;
  padding: 5%;
  /* border: 1px solid yellow; */
  /* width: 1000px; */
}

.indcustomerreview img{
  margin: 5% 0 10% 0;
}

.indcustomerreviewwords{
  line-height: 24px;
  width: 100%;
  /* border: 1px solid red; */
}

.indcustomerreviewwritercard{
  display: flex;
  margin-top: 8%;
  /* border: 1px solid red; */
}

.indcustomerreviewwritercard img{
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 3%;
}

.indcustomerreviewwritername{
  font-weight: 900;
}

.indcustomerreviewwriterplace{
  color: grey;
}

.page6{
  height: 100vh;
  text-align: center;
  /* border: 3px solid blue; */
}

.subscription{
  /* border: 2px solid green; */
  height: 45vh;
}

.subscribe{
  font-size: 45px;
  font-weight: 500;
  /* border: 1px solid brown; */
  width: 70%;
  margin: 1% auto 2% auto;
}

.subscribetext{
  color: grey;
  width: 60%;
  margin: 1% auto 3% auto;
  /* border: 1px solid brown; */
}

.mailandsubmit{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid yellow; */
  box-shadow: -3px 3px 20px 5px rgb(200, 200, 226);
  width: 50%;
  margin: auto;
}

.subscribeemailfield{
  width: 100%;
  padding: 3%;
  border: none;
  font-size: 16px;
}

.subscribebutton{
  padding: 2%;
  width: 40%;
  color: white;
  background: black;
  border: none;
  margin-right: 1%;
  border-radius: 3px;
}

.subscribebutton:hover{
  background: rgb(78, 74, 74);
}


.otherservices{
  padding-top: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(49, 39, 39);
  height: 54vh;
  color: white;
}

.imageandword{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* border: 1px solid brown; */
  height: 90%;
}

.alignment{
  text-align: left;
}

.socials{
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: relative;
  top: 17%;
}

.serviceschedule{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.serviceschedulelast{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -15%;
}

.serviceschedule a{
  cursor: grab;
  text-decoration: none;
}

a:hover{
  color: red;
}

@media screen and (max-width:700px){
  body{
    padding: 0 3%;
  }
  /* Page 1 */
  .page1{
    height: auto;
    width: 100%;
  }
  .headercontainer{
    height: auto;
    flex-direction: column;
  }
  .logo{
    height: 40%;
    margin: auto;
  }
  .navigation{
    height: 40%;
    width: 90%;
    margin: auto;
  }
  .navigation p{
    font-size: 12px;
  }
  .signup2{
    width: 30%;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    cursor: grab;
    border: none;
    display: block;
  }
  .signup2:hover{
    background: rgb(78, 74, 74);
  }
  .signup{
    display: none;
  }
  .designpicture{
    height: auto;
    margin-bottom: 3%;
  }
  .designpicture h1{
    font-size: 25px;
  }
  .designpicture p{
    font-size: 12px;
    width: 100%;
  }
  .image1{
    width: 40%;
    margin-left: 1%;
  }
  .buttonpicture{
    height: auto;
  }
  .bottonpicture{
    height: auto;
  }
  .achievements{
    width: 70%;
  }
  .startprojectbutton{
    margin: auto;
  }
  .indachivementitem h1{
    font-size: 25px;
  }
  .indachivementitem p{
    font-size: 10px;
  }
  .imagecontainer{
    /* display: none; */
    width: 30%;
    margin-left: 4%;
  }
  .image2{
    width: 40%;
    left: -5%;
  }
  .image3{
    width: 80%;
    margin-left: 5%;
    right: 0%;
  }
  .image4{
    width: 30%;
  }

  /* Page 2 */
  .page2{
    height: auto;
  }
  .Servicecontainer{
    height: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .indServicecontainer{
    width: 90%;
  }
  .indServicecontainer h3{
    margin-bottom: 0;
  }

  /* Page 3 */
  .page3{
    flex-direction: column;
    height: auto;
  }
  .page3pic img{
    width: 100%;
  }
  .page3content{
    width: 90%;
    margin: auto;
  }
  .page3content h2{
    font-size: 30px;
    text-align: center;
  }
  .learnmorebutton{
    width: 50%;
    margin: auto;
  }
  /* Page 4 */
  .page4{
    flex-direction: column;
  }
  .designcontent{
    height: auto;
    width: 100%;
  }
  .designcontent h1{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  }
  .slashandmessage p{
    font-size: 14px;
  }
  .page3designpicture{
    width: 90%;
    margin: auto;
  }
  .page3designpicture img{
    width: 100%;
    margin: 0;
    align-self: center;
  }

  /* Page 5 */
  .page5{
    flex-direction: column;
    height: auto;
  }
  .cutoutimg{
    display: none;
  }
  .customerreview{
    width: 100%;
    height: auto;
  }
  .customerreview h1{
    font-size: 35px;
    text-align: center;
  }
  .customerreviewpic{
    flex-direction: column;
    position: static;
    height: auto;
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  .indcustomerreview{
    margin-bottom: 2%;
  }
  .indcustomerreview img{
    margin: 5% 0 5% 0;
  }
  .indcustomerreviewwords{
    font-size: 15px;
  }
  .indcustomerreviewwritercard{
    width: 70%;
    margin: auto;
  }
  .indcustomerreviewwritercard img{
    margin-right: 5%;
  }

  /* Page 6 */
  .page6{
    height: auto;
  }
  .subscription{
    height: auto;
  }
  .subscribe{
    font-size: 25px;
    width: 100%;
    margin: 1% auto 10% auto;
  }
  .subscribetext{
    width: 100%;
    margin: 1% auto 10% auto;
  }
  .mailandsubmit{
    width: 90%;
    margin-bottom: 10%;
  }
  .otherservices{
    height: auto;
    flex-direction: column;
  }
  .serviceschedule{
    align-items: center;
  }
  .serviceschedulelast{
    align-items: center;
  }
}